@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Raleway:wght@500;700&display=swap');

:root {
    --corPrimaria: #2E7BA2;
    --corSecundaria: #FACF9D;
    --corFontTextoTitulos: white;
    --corFontTextoCorpo: #444444;
    
}

/* HEADER  */

.cabecalho {
    background-color: var(--corPrimaria);
    display: flex;
    width: 100%;
    height: 128px;
    justify-content: space-around;
    align-items: center;
}

.cabecalho__nav {
    display: flex;
    gap: 32px;
    font-family: 'Raleway', sans-serif;
    color: var(--corFontTextoTitulos);
    font-weight: 700;
    font-size: 20px;
}

/* FOOTER */

.rodape {
    background-color: var(--corSecundaria);
    width: 100%;
    height: 232px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40%;
}

.rodape__paragrafo__redeSocial {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: var(--corFontTextoCorpo);
    gap: 8px;
}

.rodape__texto {
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
    gap: 20px;
    color: var(--corFontTextoCorpo);
}


