@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Raleway:wght@500;700&display=swap');

:root {
    --corPrimaria: #2E7BA2;
    --corSecundaria: #FACF9D;
    --corFontTextoNav: white;
    --corFontTextoCorpo: #444444;
    --corGradiente1: #BFDAE6;
    --corGradiente2: #FCF0DD;
    --corGradiente3: #fcd6ac;
    --corHover: #519EC5;
    --corLinha: #DF9010;

    --fontPrimaria: 'Raleway' , sans-serif; 
    --fontSecundaria: 'Calistoga', cursive;
}

/* HOMEPAGE */

/* HEADER  */

.cabecalho {
    background-color: var(--corPrimaria);
    display: flex;
    width: 100%;
    height: 128px;
    justify-content: space-around;
    align-items: center;
}

.cabecalho__nav {
    display: flex;
    gap: 32px;
    font-family: var(--fontPrimaria);
    color: var(--corFontTextoNav);
    font-weight: 700;
    font-size: 20px;
}

/* MAIN */

/* BANNER */

.principal__banner {
    width: 100%;
}

.principal {
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, var(--corGradiente1) 30%, var(--corGradiente2) 50%, var(--corGradiente3) 100%);
    /* background: linear-gradient(180deg, var(--corGradiente1) 50%, var(--corGradiente2) 100%); */
}

/* DATAS */

.principal__datas {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    text-align: center;
    margin: 65px ;
}

.principal__datas__textos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.principal__datas__titulo {
    font-family: var(--fontPrimaria);
    font-weight: 700;
    font-size: 32px;
    color: var(--corFontTextoCorpo);
}


.principal__datas__paragrafo {
    font-family: var(--fontPrimaria);
    font-weight: 500;
    font-size: 20px;
    color: var(--corFontTextoCorpo);
}

.principal__datas__ingresso {
    background-color: var(--corPrimaria);
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    width: 256px;
    height: 56px;
    border-radius: 16px;
    box-shadow: 4px 4px 0px #444444;

    font-family: var(--fontPrimaria);
    font-weight: 700;
    font-size: 20px;
    color: var(--corFontTextoNav);
}

.principal__datas__ingresso:hover {
    background-color: var(--corHover);
}

/* ATRAÇÕES */

.principal__atracoes__sabado, .principal__atracoes__domingo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.principal__atracoes__domingo {
    margin: 61px 0 56px 0;
}

.principal__atracoes__titulo {
    font-family: var(--fontSecundaria);
    font-size: 64px;
    font-weight: 400;
    color: var(--corFontTextoCorpo);
    margin: 32px;
}

.principal__atracoes__data {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin: 0 0 64px 0;
}

.principal__atracoes__data__dia {
    font-family: var(--fontSecundaria);
    font-size: 48px;
    background-color: var(--corLinha);
    padding: 16px;
    color: var(--corFontTextoNav);
}

.principal__atracoes__data__linha {
    width: 359.5px;
    height: 0px;
    border: 1px solid #DF9010;
}

.principal__atracoes__bandaPrincipal {
    font-family: var(--fontPrimaria);
    font-size: 48px;
    font-weight: 800;
    color: var(--corFontTextoCorpo);
    margin: 0 0 32px 0;
}

.principal__atracoes__bandas {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    font-family: var(--fontPrimaria);
    color: var(--corFontTextoCorpo);
}

.principal__atracoes__bandas1, .principal__atracoes__bandas2, .principal__atracoes__bandas3 {
    display: flex;
    gap: 32px;
}

.principal__atracoes__bandas1 {
    font-size: 40px;
    font-weight: 700;
}

.principal__atracoes__bandas2 {
    font-size: 32px;
    font-weight: 700;
}

.principal__atracoes__bandas3 {
    font-size: 32px;
    font-weight: 500;
}

.principal__atracoes__banner {
    width: 100%;
    height: 338px;
    mix-blend-mode: multiply;
}

/* FOOTER */

.rodape {
    background-color: var(--corSecundaria);
    width: 100%;
    height: 238px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40%;
}

.rodape__paragrafo__redeSocial {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: var(--fontPrimaria);
    font-size: 20px;
    font-weight: 500;
    color: var(--corFontTextoCorpo);
    gap: 8px;
}

.rodape__texto {
    display: flex;
    flex-direction: column;
    font-family: var(--fontPrimaria);
    font-size: 20px;
    font-weight: 500;
    gap: 20px;
    color: var(--corFontTextoCorpo);
}

/* A EXPERIENCIA */

/* MAIN */

.principal__banner__aExperiencia {
    width: 100%;
    mix-blend-mode: multiply;
}

.principal__aExperiencia__bloco {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    padding: 64px 120px;
}

.bloco__inverso {
    flex-direction: row-reverse;
}

.principal__aExperiencia__bloco__texto {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.principal__aExperiencia__bloco__texto__titulo {
    font-family: var(--fontPrimaria);
    font-size: 32px;
    font-weight: 700;
    color: var(--corFontTextoCorpo);
}

.principal__aExperiencia__bloco__texto__paragrafo {
    font-family: var(--fontPrimaria);
    font-size: 20px;
    font-weight: 500;
    color: var(--corFontTextoCorpo);
    line-height: 40px;
}